<script type="text/javascript">
    var count = $('.form-inline').length;
    if (count === 5) {
        $("#add_choice").hide();
    }
    $('a#add_choice').click(function (e) {
        if (count + 1 === 6) {
            $("#add_choice").hide();
        }
        if (count < 6) {
            e.preventDefault();
            addChoiceForm();
            count++;
        }
    });
    $(document).on("click", "button.delete_choice", function (e) {
        e.preventDefault();
        $(this).parent().parent().parent().remove();
        count--;
        $("#add_choice").show();
    });
    function addChoiceForm() {
        var collectionHolder = $('div#contacts');
        var prototype = collectionHolder.attr('data-prototype');

        // Replace '__name__' in the prototype's HTML to instead be a number based on the current collection's length.
        var newForm = prototype.replace(/__name__/g, collectionHolder.children().children().length);

        var newFormRow = $("<div></div>").append(newForm);
        collectionHolder.append(newFormRow);
    }
</script>