{% extends 'base.html.twig' %}
{% block title %}Posts{% endblock title %}
{% block stylesheets %}
    <link href="{{ asset('assets/global/plugins/datatables/datatables.min.css') }}" 
          rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" 
          rel="stylesheet" type="text/css" />
{% endblock stylesheets %}
{% block page_title %}Posts {% endblock page_title %}
{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="">Dashboard</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <span>Posts</span>
    </li>
{% endblock breadcrumb %}
{% block body %}
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Posts</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success alert-block fade in">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <h4>
                                    <i class="icon-ok-sign"></i>
                                    Succès!
                                </h4>
                                <p>{{ flashMessage }}</p>
                            </div>
                        {% endfor %}
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="{{ path('post_new') }}" id="sample_editable_1_new" class="btn sbold  blue"> Nouveau
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>                       
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                            <tr class="odd gradeX">
                                <td> {{ post.title }} </td>
                                <td> {{ post.createdAt| date("m/d/Y") }} </td>
                                <td>
                                    <a href="{{ path('post_edit', { 'id':post.id }) }}" title="Modifier">
                                        <i class="fa fa-pencil fa-2x"></i>
                                    </a>
                                        <a data-toggle="modal" href="#basic{{ post.id }}" title="Supprimer">
                                            <i class="fa fa-times fa-2x"></i>
                                        </a>
                                        <div class="modal fade" id="basic{{ post.id }}" tabindex="-1" role="basic" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                        <h4 class="modal-title">Confirmation</h4>
                                                    </div>
                                                    <div class="modal-body"> Are your sure you want to delete this post? </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
                                                       <a class="btn btn blue" href="{{ path('post_remove', { 'id': post.id }) }}" title="Confirmer">
                                                            Confirm
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div> 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>                
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/global/scripts/datatable.js" type="text/javascript') }}">
    </script>
    <script src="{{ asset('assets/global/plugins/datatables/datatables.min.js') }}"
    type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"
    type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/pages/scripts/table-datatables-managed.min.js') }}" 
    type="text/javascript"></script>
{% endblock %}


