{% extends 'base.html.twig' %}
{% block title %}Add a post {% endblock title %}
{% form_theme form 'errors.html.twig' %}
{% form_theme form 'form_custom_layout.html.twig' %}
{% block page_title %}Add a post {% endblock page_title %}
{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="">Dashboard</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path('post_index') }}">Posts</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="#">Add a post</a>
    </li>    
{% endblock breadcrumb %}
{% block body %}
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-key font-dark-sunglo"></i>
                    <span class="caption-subject font-dark-sunglo bold uppercase">
                        Add a post
                    </span>
                </div>
            </div>
            <div class="portlet-body form">     
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success alert-block fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4>
                            <i class="icon-ok-sign"></i>
                            Succès!
                        </h4>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
                <!-- BEGIN FORM-->
                <form action="{{ path('post_new') }}" method="post" class="form-horizontal" 
                      novalidate="" id="frm_post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Title 
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-4">
                                {{ form_widget(form.title, {'attr': {'class' : 'form-control'} }) }}
                                <span class="help-block"> Title. </span>
                            </div>
                            {{ form_errors(form.title) }}
                        </div>                                      
                        <div class="form-group">
                            <label class="col-md-3 control-label">Description 
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-4">
                                {{ form_widget(form.description, {'attr': {'class' : 'form-control'} }) }}
                                <span class="help-block"> Description. </span>
                            </div>
                            {{ form_errors(form.description) }}
                        </div>                                      
                        <div class="form-group">
                            <label class="col-md-3 control-label">Image Url 
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-4">
                                {{ form_widget(form.imageUrl, {'attr': {'class' : 'form-control'} }) }}
                                <span class="help-block"> Image Url. </span>
                            </div>
                            {{ form_errors(form.imageUrl) }}
                        </div>                                                                          
                        <label class="control-label">Comments</label>
                        <div id="contacts" data-prototype="{% filter escape %}{{ _self.commentsPrototype(form.comments.vars.prototype) }}{% endfilter %}">
                            {% for comment in form.comments %}
                                {{ _self.commentsPrototype(comment) }}
                            {% endfor %}
                        </div>
                        <a href="javascript:;" id="add_choice">
                            <i class="fa fa-plus"></i> Add a comment
                        </a>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn blue">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>        
    </div>
{% endblock %}
{% block javascripts %}
    {% include 'edit_js.html.twig' %}
{% endblock %}
{% macro commentsPrototype(comment) %}
    <div class="form-inline" style="padding-bottom: 10px;">
        <div class="form-group input-group">            
            {{ form_widget(comment.content, {'attr': {'class' : 'form-control input-large'} })}}
            <span class="input-group-btn">
                <button class="delete_choice" type="submit">
                    <i class="fa fa-trash"></i>Delete
                </button>
            </span>
            {{ form_errors(comment.content) }}
        </div>
    </div>
{% endmacro %}