{% extends 'base.html.twig' %}
{% block title %}Add a comment {% endblock title %}
{% form_theme form 'errors.html.twig' %}
{% block page_title %}Add a comment {% endblock page_title %}
{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="">Dashboard</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path('comment_index') }}">Comments</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="#">Add a comment</a>
    </li>    
{% endblock breadcrumb %}
{% block body %}
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-key font-dark-sunglo"></i>
                    <span class="caption-subject font-dark-sunglo bold uppercase">
                        Add a comment
                    </span>
                </div>
            </div>
            <div class="portlet-body form">     
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success alert-block fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4>
                            <i class="icon-ok-sign"></i>
                            Succès!
                        </h4>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
                <!-- BEGIN FORM-->
                <form action="{{ path('comment_new') }}" method="post" class="form-horizontal" 
                      novalidate="" id="frm_comment">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Comment 
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-4">
                                {{ form_widget(form.content, {'attr': {'class' : 'form-control'} }) }}
                                <span class="help-block"> Type your comment. </span>
                            </div>
                            {{ form_errors(form.content) }}
                        </div>                                      
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn blue">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>        
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" 
    type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}" 
    type="text/javascript"></script>
    <script src="{{ asset('assets/pages/scripts/form-validation.js') }}" 
    type="text/javascript"></script>
{% endblock %}


